<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick-Catalog</title>
    <style>
      .default {
        background: rgb(126,0,255);
        background-image: linear-gradient(90deg, rgba(126,0,255,1) 0%, rgba(112,0,224,1) 100%);
      }

      .default .menu__line {
        background: rgb(126,0,255);
      }

      .default .menu__content {
        background: rgba(112,0,224,1);
      }

      .default .dropdown {
        color: rgba(112,0,224,1);
      }

      .default .dropdown__icon svg path {
        fill: rgba(112,0,224,1);
      }

      .default .menu__content::-webkit-scrollbar-thumb,
      .default .main__buttons::-webkit-scrollbar-thumb,
      .default .main__content::-webkit-scrollbar-thumb,
      .default .main__articles::-webkit-scrollbar-thumb {
        background-color: rgb(126,0,255);
      }

      .green {
        background: rgb(134,204,130);
        background-image: linear-gradient(90deg, rgba(134,204,130,1) 0%, rgba(3,75,0,1) 100%);
      }

      .green .menu__line {
        background: rgb(134,204,130);
      }

      .green .menu__content {
        background: rgba(3,75,0,1);
      }

      .green .dropdown {
        color: rgba(3,75,0,1);
      }

      .green .dropdown__icon svg path {
        fill: rgba(3,75,0,1);
      }

      .green .menu__content::-webkit-scrollbar-thumb,
      .green .main__buttons::-webkit-scrollbar-thumb,
      .green .main__content::-webkit-scrollbar-thumb,
      .green .main__articles::-webkit-scrollbar-thumb {
        background-color: rgb(134,204,130);
      }

      .violet {
        background: rgb(126,0,255);
        background-image: linear-gradient(90deg, rgba(126,0,255,1) 0%, rgba(112,0,224,1) 100%);
      }

      .violet .menu__line {
        background: rgb(126,0,255);
      }

      .violet .menu__content {
        background: rgba(112,0,224,1);
      }

      .violet .dropdown {
        color: rgba(112,0,224,1);
      }

      .violet .dropdown__icon svg path {
        fill: rgba(112,0,224,1);
      }

      .violet .menu__content::-webkit-scrollbar-thumb,
      .violet .main__buttons::-webkit-scrollbar-thumb,
      .violet .main__content::-webkit-scrollbar-thumb,
      .violet .main__articles::-webkit-scrollbar-thumb {
        background-color: rgb(126,0,255);
      }

      .blue {
        background: rgb(64,80,255);
        background-image: linear-gradient(90deg, rgba(64,80,255,1) 0%, rgba(1,22,122,1) 100%);
      }

      .blue .menu__line {
        background: rgb(64,80,255);
      }

      .blue .menu__content {
        background: rgba(1,22,122,1);
      }

      .blue .dropdown {
        color: rgba(1,22,122,1);
      }

      .blue .dropdown__icon svg path {
        fill: rgba(1,22,122,1);
      }

      .blue .menu__content::-webkit-scrollbar-thumb,
      .blue .main__buttons::-webkit-scrollbar-thumb,
      .blue .main__content::-webkit-scrollbar-thumb,
      .blue .main__articles::-webkit-scrollbar-thumb {
        background-color: rgb(64,80,255);
      }
    </style>
  </head>