  <body class="body default">
    <div class="global">
      <header class="header">
        <nav class="menu menu_active">
          <div class="menu__button" tabindex="0">
            <span class="menu__line"></span>
            <span class="menu__line"></span>
            <span class="menu__line"></span>
          </div>
          <div class="menu__content">
            <ul class="menu__content-list">
              <li class="menu__content-item" data-menu="1">Link for display</li>
              <li class="menu__content-item" data-menu="2">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="3">Link for display</li>
              <li class="menu__content-item" data-menu="4">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="5">Link for display</li>
              <li class="menu__content-item" data-menu="6">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="7">Link for display</li>
              <li class="menu__content-item" data-menu="1">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="1">Link for display</li>
              <li class="menu__content-item" data-menu="1">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="1">Link for display</li>
              <li class="menu__content-item" data-menu="1">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="1">Link for display</li>
              <li class="menu__content-item" data-menu="1">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="1">Link for display</li>
              <li class="menu__content-item" data-menu="1">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="1">Link for display</li>
              <li class="menu__content-item" data-menu="1">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="1">Link for display</li>
              <li class="menu__content-item" data-menu="1">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="1">Link for display</li>
              <li class="menu__content-item" data-menu="1">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="1">Link for display</li>
              <li class="menu__content-item" data-menu="1">Vary vary Long Link for display</li>
              <li class="menu__content-item" data-menu="1">Link for display</li>
              <li class="menu__content-item" data-menu="1">Vary vary Long Link for display</li>
            </ul>
          </div>
        </nav>
        <div class="header__settings">
          <h1 class="header__title">Company Title</h1>
          <div class="dropdown header__dropdown">
            <div class="dropdown__select" data-value="default"><span class="dropdown__text">Options</span>
              <span class="dropdown__icon">
                <svg style="color: blue" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z" fill="blue"></path> </svg>
              </span>
            </div>
            <div class="dropdown__menu">
              <ul class="dropdown__list">
                <li class="dropdown__item" data-value="green">Green</li>
                <li class="dropdown__item" data-value="violet">Violet</li>
                <li class="dropdown__item" data-value="blue">Blue</li>
              </ul>
            </div>
          </div>
        </div>
      </header>